#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include "keymap.dtsi"

/ {
    UNLOCK_COMBO(<10 37 40>)

    keymap {
        compatible = "zmk,keymap";

        base {
            label = "Base";
            bindings = <
&kp TAB   &kp Q       &kp W       &kp E      &kp R     &kp T    &kp Y     &kp U     &kp I          &kp O         &kp P           &kp RET
&kp ESC   &kp A       &kp S       &kp D      &kp F     &kp G    &kp H     &kp J     &kp K          &kp L         &kp SEMI        &kp SQT
&kp LSHFT &mt LSHFT Z &mt LCTRL X &mt LALT C &kp V     &kp B    &kp N     &kp M     &mt RALT COMMA &mt RCTRL DOT &mt RSHFT SLASH &kp RSHFT
                                  &guiglobe  &mo LOWER &kp BSPC &kp SPACE &mo UPPER &mo FUNCTION
            >;
        };

        lower {
            label = "Lower";
            bindings = <
&trans &kp EXCL &kp AT    &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &trans
&trans &trans   &kp TILDE &kp DQT  &kp PIPE &trans    &trans    &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &trans
&trans &trans   &trans    &trans   &trans   &trans    &trans    &trans    &trans    &trans   &trans   &trans
                          &trans   &trans   &trans    &trans    &trans    &trans
            >;
        };

        upper {
            label = "Upper";
            bindings = <
&trans &kp N1 &kp N2    &kp N3  &kp N4   &kp N5 &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &trans
&trans &trans &kp GRAVE &kp SQT &kp BSLH &trans &trans &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &trans
&trans &trans &trans    &trans  &trans   &trans &trans &trans    &trans    &trans   &trans   &trans
                        &trans  &trans   &trans &trans &trans    &trans
            >;
        };

        function {
            label = "Function";
            bindings = <
&trans &kp TAB &trans       &kp C_VOL_UP &trans       &trans    &trans &trans   &trans   &trans &kp ENTER &trans
&trans &kp ESC &kp C_BRI_DN &kp C_VOL_DN &kp C_BRI_UP &trans    &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans
&trans &trans  &trans       &trans       &trans       &trans    &trans &trans   &trans   &trans &trans    &trans
                            &trans       &trans       &kp C_PWR &trans &trans   &trans
            >;
        };

        meta {
            label = "Meta";
            bindings = <
&none &none &none &none &none  &none &none        &none        &none        &none        &to LOCKED   &none
&none &none &none &none &none  &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
&none &none &none &none &none  &none &none        &none        &bt BT_CLR   &none        &none        &none
                  &none &trans &none &none        &trans       &none
            >;
        };

        locked {
            label = "Locked";
            bindings = <
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none
&none &none &none &none &none &none &none &none &none &none &none &none
                  &none &none &none &none &none &none
            >;
        };
    };
};
